* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: white;
}

body {
    background-color: black;
}

.card {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px
}

video {
    width: 400px;
    height: 230px;
    border-radius: 20px;
}

@media screen and (max-width: 490px) {
    .card {
        flex-direction: column;
    } 
    video {
        width: 100%;
        height: 55vw;
        border-radius: 3vw;
    }
    h1 {
        font-size: 10vw;
    }
}